body {
    font-family: Helvetica;
}

input {
    border: solid #555555 1px;
    border-radius: 3px;
}

.invisible {
    opacity: 0;
}

.fixed {
    position: fixed;
}

.header div {
    width: 100vw;
    padding: 20px;
    background: #333333;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
.header input {
    display: block;
    position: absolute;
}
.header span {
    color: white;
    font-size: 20px;
}

.login_container {
    text-align: center;
}
.login_container input {
    display: inline-block;
    margin-top: 15px;
}

.player {
    border: 0px;
    width: 100vw;
    height: 800px;
}

.course_list {
    list-style-type: none;
    width: 100vw;
}
.course_list li {
    width: 100%;
    box-sizing: border-box;

    background-color: #F4755F;
    color: white;
    font-size: 20px;

    border-style: solid;
    border-color: none;
    border-width: 5px 5px 0 5px;
    
    padding: 20px; 
}